@font-face {
    font-family: "GeneralSans";
    src: url("../fonts/GeneralSans/GeneralSans-Regular.woff2");
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "GeneralSans";
    src: url("../fonts/GeneralSans/GeneralSans-Medium.woff2");
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: "GeneralSans";
    src: url("../fonts/GeneralSans/GeneralSans-Semibold.woff2");
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: "HelveticaNow";
    src: url("../fonts/HelveticaNow/font.woff2");
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: "HelveticaNow";
    src: url("../fonts/HelveticaNow/fontM.woff2");
    font-weight: 500;
    font-display: swap;
  }
  