.footer {
  padding: 8rem 0;
  border-top: 1px solid var(--color-gray-light);
  background-color: var(--color-gray2);
  font-family: "GeneralSans", sans-serif;

  .form-response {
    font-size: 12px;
    margin-top: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 991px) {
      flex-direction: column;
      gap: 5rem 0;
    }
  }

  &__logo {
    width: 12.4rem;
    height: 2.2rem;
    margin-bottom: 2.4rem;
    mix-blend-mode: luminosity;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__copyright {
    max-width: 16rem;
    margin-bottom: 3.2rem;
    color: var(--color-dark-gray);
  }

  &__linkIcon {
    display: inline-block;

    &:hover {
      svg {
        rect {
          fill: #a0a0a0;
        }
      }
    }

    svg {
      rect {
        fill: #fff;
        transition: fill 0.5s ease;
      }
    }
  }

  &Title {
    margin-bottom: 1.6rem;
    font-weight: 600!important;
  }

  &__menu {
    column-count: 2;
    column-gap: 12rem;

    @media screen and (max-width: 1025px) {
      column-gap: 7rem;
    }

    .menuItem {
      margin-bottom: 8px;
      font-size: 1.4rem;
      line-height: 1.7;
      font-weight: 500;
      color: var(--color-dark-gray);

      a {
        position: relative;
        color: var(--color-dark-gray);

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          background-color: currentcolor;
          width: 0;
          height: 1px;
          transition: width 0.5s ease;
        }

        &:hover {
          color: var(--color-black);

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  &Text {
    max-width: 22rem;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    line-height: 1.28;
    color: var(--color-dark-gray);

    @media screen and (max-width: 1025px) {
      margin-bottom: 3rem;
    }
  }

  &Form {
    form {
      display: flex;
      position: relative;
      flex-flow: column wrap;
      width: 100%;

      &.invalid {
        input {
          border: 1px solid #d32424;
        }
      }
    }

    input {
      height: 5.6rem;
      width: 100%;
      padding: 1.8rem 6rem 1.8rem 2rem;
      border: 1px solid transparent;
      border-radius: 5rem;
      outline: none;
      background-color: #fff;

      &:focus {
        border: 1px solid var(--color-blue);
      }
    }

    button {
      position: absolute;
      right: 0;
      width: 5.6rem;
      height: 5.6rem;
      padding: 0;
      border: 0;
      border-radius: 50%;
      background-color: var(--color-black);
    //   background-image: url(${iconSubmitUrl});
      background-repeat: no-repeat;
      background-position: center;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #313234;
      }
    }
  }

  &__left {
    flex: 1;
    max-width: 28rem;
  }

  &__middle {
    margin-left: auto;

    @media screen and (max-width: 1025px) {
      margin-left: unset;
    }
  }

  &__right {
    flex: 1;
    max-width: 26rem;
    margin-left: auto;

    @media screen and (max-width: 1025px) {
      margin-left: unset;
    }

    @media screen and (max-width: 480px) {
      max-width: 100%;
    }
  }
}
